.pcpwidget div.id,
.pcpwidget div.is_active {
  display: none;
}

.pcpwidget div.title {
  font-weight: bold;
  font-size: 20px;
}
/*.pcplink a {
  background-color: black;
  padding: 5px;
}*/

.pcpwidget div {
  margin-bottom: 10px;
  font-family: futura-lt-w01-book,sans-serif;
}

.pcplink {
  display: inline;
  font-family: Arial;
  color: #fff;
  font-size: 20px;
  background: #69C5EB;
  padding: 10px 20px 10px 20px;
}

.pcplink:hover {
  background: #3cb0fd;
}

a.pcpa {
  text-decoration: none;
}

.pcp {
  padding-bottom: 20px;
}
.pcptotal {
  padding-bottom: 10px;
}
.total label {
  font-weight: bold;
}
div.total {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  font-size: 20px;
}
