.pcpwidget div.id,
.pcpwidget div.is_active {
  display: none;
}

.pcpwidget div.title {
  font-weight: bold;
  font-size: 20px;
}
/*.pcplink a {
  background-color: black;
  padding: 5px;
}*/

.pcpwidget div {
  margin-bottom: 5px;
}

.pcpa:hover {
  text-decoration: none;
}

.pcp {
  padding-bottom: 20px;
}

.total label {
  font-weight: bold;
}
.total {
  border-top: 1px solid black;
  font-size: 20px;
}
